.tasklist {
  padding: 8px;
  background-color: #a1c4fd;
  border-radius: 3px;
}

.tasklist .title {
  padding: 5px;
  font-weight: bold;
  background-color: #7295b1;
  text-align: center;
  border-radius: 8px;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #1295b1;
  transition: background-color 0.3;
}

.tasklist .btn:hover {
  background-color: #7295b1;
  cursor: pointer;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  border-radius: 3px;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed black;
  border-radius: 4px;
  padding: 4px;
}
